[Unit]
Description=Cloudflare DDNS Agent
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
PIDFile=/run/cfddns.pid

## use key and email
#Environment=CF_API_KEY=API_KEY_FROM_CF
#Environment=CF_API_EMAIL=user@example.com

## or use token
#Environment=CF_API_KEY=API_TOKEN_FROM_CF

#ExecStart=/usr/local/bin/cfddns --zone example.com --name www

Restart=on-failure
RestartSec=1m

[Install]
WantedBy=multi-user.target
